.form-inline.clearfix
	.row
		.nested-fields
			= f.input :bp,  placeholder: "Enter a bullet point", label: false, input_html: { class: "form-input form-control", style: 'width:80%;'}

			= link_to_remove_association "Remove", f, class: "form-control btn btn-secondary", style: 'height:20%; display:inline; float:right;' 