.container
	.about
		%h1 About Us
		%p Here at Bullet Point Laws we strive to deliver the public with unbias and easy to read synposis of bills in various stages of the bill making process. We believe that providing everyone with access to proposed bills we can promote the democratic process and get the public involved in the bill making process. We often hear that people do not vote because they are not sure what they are voting on, We want to change that. We want to get people invloved and help make this country better places for all citizens. 
		%p As part of our promise to stay unbias, we deliver the facts and only the facts. We have no commentary and do not promote or oppose any bill. We want to provide the facts and allow the public to decide what is best for themselves and their families. We provide education on how to make your voice heard and the best way to contact those who need to hear your voice. We also do not want you to take our word for it, we will provide copies of the bill in its current stage for you to view yourselve. 
